/* Reset default margin and padding */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Verdana', sans-serif;
  background: #daded8;
}

/* Main layout container */
.container {
  display: flex;
  flex-direction: row; /* Sidebar and content side by side */
  height: 100vh; /* Full viewport height */
}

.green-logo {
  width: 80px;
  height: 80px;
  margin-left: 80px;
  margin-top: 10px;
  z-index: 1;
  position: fixed;
}

.header {
  position: fixed;
  top: 0;
  left: 250px; 
  width: calc(100% - 250px); 
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Header logo */
.header-logo {
  width: 240px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Fixed Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #4c593e;
  padding-top: 80px; 
  display: flex;
  flex-direction: column;
}

.sidebar a {
  margin-top: 20px;
  color: #daded8;
  text-decoration: none;
  padding: 15px;
  display: block;
}

.sidebar a:hover {
  background-color: #3a4a2b;
  border-radius: 5px;
}

/* Main Content */
.main-content {
  flex-grow: 1;
  margin-left: 250px; /* Prevents overlap with sidebar */
  margin-top: 80px; /* Prevents overlap with header */
  padding: 20px;
}
