/* filepath: /c:/Users/Rebec/react_website/src/index.css */
html, body {
  height: 100%; /* Ensure the body takes up the full height of the viewport */
  margin: 0;
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}



h1 {
  color: #282c34;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
}

footer {
  margin-top: auto;
  font-size: 1em;
  background-color: #eca49a;
  width: 100%;
  text-align: center;
}